* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("images/background.png") ;
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: blueviolet;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(87, 84, 84);
    text-decoration: none;
}

header a:hover {
    color: white;
    transform: scale(1.05);
    display: inline-block;
}

.flex {
    display: flex;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button:hover {
    box-shadow: 0px 0px 8px rgb(32, 0, 32);
    transform: scale(1.05);
}

header img {
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;
    max-width: 550px;
    background: rgba(97, 74, 107, 0.744);
    padding: 34px;
    border-radius: 10px;
    box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0.1);
    text-shadow: rgba(0, 0, 0, 0.502) 0.1em 0.1em 0.2em
}

.perfil {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
}

.campo {
    padding: 5px;
    border: none;
    margin-top: 0px;
    border-radius: 8px;
}

label {
    color: #ffffffe4;
    font-weight: 600;
}

input {
    color: black;
}

.btn-enviar button {
    margin-top: 20px;
    margin-left: 130px;
    padding: 4px 60px 4px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgba(235, 218, 252, 0.946);
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

h1 {
    color: white;
    font-weight: 600;
    padding-left: 40px;
}